.wrapper {
  position: relative;
  overflow: hidden;
  z-index: 1;
  &.index {
    min-height: 100vh;
    background: url(../../../../public/images/darkWrapper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    @include lightIn {
      background: url(../../../../public/images/whiteWrapper.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
  }
}
.patterTop {
  position: absolute;
  top: -10%;
  left: 0;
  width: 100%;
  height: 50%;
  background: url(../../../../public/images/innerWaveD.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  @include lightIn {
    background: url(../../../../public/images/innerWaveW.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.patterBot {
  position: absolute;
  bottom: -40px;
  left: -40px;
  width: 700px;
  height: 700px;
  background: url(../../../../public/images/downWaveD.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  z-index: -1;
  @include lightIn {
    background: url(../../../../public/images/downWaveW.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}
.intro {
  padding: 190px 0 100px 0;
  &__title {
    max-width: 554px;
    text-align: center;
    margin: 0 auto 26px auto;
    h1 {
      margin-bottom: 38px;
    }
    p {
      color: $white;
    }
  }
  &__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }
  &__btn {
    margin: 0 auto;
    max-width: 354px;
  }
  &Item {
    width: calc(33.3% - 20px);
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid $white;
    box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
    border-radius: 15px;
    padding: 16px 28px;
    @include lightIn {
      background: rgba(255, 255, 254, 0.3);
      border: 1px solid #f7f7f8;
      box-shadow: -1px 8px 19px rgba(111, 111, 111, 0.04);
      border-radius: 15px;
    }
    h6 {
      margin-bottom: 10px;
      color: $white;
    }
  }
  &Input {
    input {
      box-sizing: border-box;
      width: 100%;
      padding: 9px 20px;

      font-family: $mainFont;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $white;
      background: transparent;
      border: 0.5px solid $white;
      filter: drop-shadow(-1px 8px 19px rgba(111, 111, 111, 0.04));
      border-radius: 8px;
      &::placeholder {
        color: $white;
        opacity: 1;
      }
    }
  }
}
@mixin intro-xlg-xxlg {
  .intro {
    padding: 80px 0;
  }
}
@mixin intro-lg-xlg {
  .intro {
    padding: 50px 0;
    &__title {
      h1 {
        margin-bottom: 20px;
      }
    }
    &__row {
      margin-bottom: 40px;
    }
    &__btn {
      max-width: 240px;
    }
    &Item {
      width: calc(33.3% - 10px);
      padding: 16px;
    }
  }
}
@mixin intro-md-lg {
  .intro {
    &__row {
      flex-direction: column;
    }
    &Item {
      width: 100%;
      margin: 0 0 10px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:last-child {
        margin: 0;
      }
      h6 {
        margin: 0;
      }
    }
    &Input {
      width: 50%;
      input {
        text-align: right;
      }
    }
  }
}
@mixin intro-xsm-sm {
  .intro {
    padding: 25px 0;
    &__title {
      order: 1;
      max-width: 300px;
      h1 {
        font-size: 17px;
        line-height: 23px;
        margin-bottom: 10px;
      }
      p {
        font-size: 10px;
        line-height: 18px;
      }
    }
    &__btn {
      order: 2;
      width: 100%;
      max-width: 227px;
      margin-bottom: 56px;
      .button {
        padding: 9px;
        font-size: 10px;
        line-height: 12px;
      }
    }
    &__row {
      order: 3;
    }
    &__inner {
      display: flex;
      flex-direction: column;
    }
    &Item {
      padding: 13px 23px;
      h6 {
        font-size: 10px;
        line-height: 12px;
      }
    }
    &Input {
      max-width: 100px;
      input {
        font-size: 10px;
        line-height: 12px;
      }
    }
  }
}
.feature {
  overflow: hidden;
  padding: 100px 0;
  &Item {
    color: $white;
    &__outer {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 50px;
      opacity: 0.6;
      @include transition;
      cursor: pointer;
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        opacity: 1;
        .featureItem {
          &__circ {
            &::before {
              background: $white;
            }
          }
        }
      }
    }
    &__circ {
      margin-right: 60px;
      width: 40px;
      height: 40px;
      box-sizing: border-box;
      border: 1px solid $white;
      filter: drop-shadow(-1px 8px 19px rgba(0, 0, 0, 0.05));
      border-radius: 50%;
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 50%;
        @include transformY;
        right: 100%;
        width: 2000px;
        height: 1px;
        background: $white;
      }
      &::before {
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        @include transform;
        @include transition;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid $white;
      }
    }
    width: calc(100% - 100px);
    max-width: 700px;
    padding: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 17px;
    border: 1px solid $white;

    &__icon {
      width: 80px;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 40px;
      img {
        width: 100%;
      }
    }
    &__content {
      width: calc(100% - 120px);
      h6 {
        margin-bottom: 18px;
      }
    }
  }
}
@mixin feature-xlg-xxlg {
  .feature {
    padding: 80px 0;
  }
}
@mixin feature-lg-xlg {
  .feature {
    padding: 50px 0;
    &Item {
      &__circ {
        width: 34px;
        height: 34px;
        margin-right: 20px;
        &::before {
          width: 15px;
          height: 15px;
        }
      }
      width: calc(100% - 54px);
      &__outer {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
@mixin feature-md-lg {
  .feature {
    &Item {
      width: 100%;
      &__outer {
        width: 100%;
        position: relative;
      }
      &__circ {
        position: absolute;
        right: 0;
        top: 16px;
        width: 25px;
        height: 25px;
        &::before {
          width: 11px;
          height: 11px;
        }
        &::after {
          right: unset;
          left: 100%;
        }
      }
    }
  }
}
@mixin feature-xsm-sm {
  .feature {
    padding: 25px 0;
    &Item {
      padding: 36px;
      flex-direction: column;
      align-items: flex-start;
      &__icon {
        width: 50px;
        height: 50px;
        margin-bottom: 20px;
      }
      &__content {
        width: 100%;
        h6 {
          font-size: 13px;
          line-height: 16px;
          margin-bottom: 6px;
        }
        p {
          font-size: 10px;
          line-height: 18px;
        }
      }
      &__circ {
        top: 50px;
        right: 50px;
        margin-right: 0;
      }
    }
  }
}
.detail {
  padding: 100px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &Item {
    width: calc(50% - 25px);
    padding: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid $white;
    box-shadow: -1px 8px 19px rgba(0, 0, 0, 0.05);
    border-radius: 22px;
    &__inner {
      max-width: 436px;
      margin: 0 auto;
      h4 {
        margin-bottom: 16px;
      }
      p {
        margin-bottom: 16px;
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      .button {
        width: calc(50% - 5px);
        border-radius: 15px;
        padding: 12px;
        font-weight: 500;
      }
    }
  }
}
@mixin detail-xlg-xxlg {
  .detail {
    padding: 80px 0;
  }
}
@mixin detail-lg-xlg {
  .detail {
    padding: 50px 0;
    &Item {
      width: calc(50% - 10px);
    }
  }
}
@mixin detail-md-lg {
  .detail {
    &__inner {
      flex-direction: column;
    }
    &Item {
      width: 100%;
      margin: 0 0 20px 0;
    }
  }
}
@mixin detail-xsm-sm {
  .detail {
    padding: 25px 0;
    &Item {
      padding: 22px 26px;
      h4 {
        font-size: 13px;
        line-height: 16px;
        margin-bottom: 6px;
      }
      p {
        font-size: 10px;
        line-height: 18px;
        margin-bottom: 20px;
      }
      &__row {
        .button {
          font-size: 10px;
          line-height: 12px;
          padding: 8px;
          border-radius: 4px;
        }
      }
    }
  }
}

.activeScroll {
  opacity: 1;

  .featureItem {
    &__circ {
      &::before {
        background: $white;
      }
    }
  }
}
