.referrals {
  &__inner {
    max-width: 650px;
    margin: 0 auto;
  }
  &Tab {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 15px;
      p.xsm {
        width: calc(100% - 170px);
        padding: 8px 12px;
        box-sizing: border-box;
        border-radius: 7px;
        border: 1px solid $gray-300;
        font-size: 10px;
      }
    }
    &__body {
      background: $mainBg;
      border-radius: 12px;
      padding: 20px 30px;
      box-sizing: border-box;

      &-inner {
        &__header {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 50px;
          padding-bottom: 18px;

          &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 7px;
            padding: 10px 17px;
            border: 1px solid transparent;
            background: linear-gradient($mainBg, $mainBg) padding-box,
              linear-gradient(to right, #a7b3f0, #efefef) border-box;

            h6.xsm {
              color: $textColor3;
              font-weight: 500;
            }
          }
        }
        &__info {
          display: flex;
          align-items: center;
          padding: 0px 17px 34px 17px;
          justify-content: space-between;

          h6.xsm {
            font-weight: 500;
          }

          &-group {
            display: flex;
            align-items: center;

            h6.xsm {
              margin-right: 5px;
            }
            p.xsm {
              margin-right: 5px;
            }
          }
        }

        &__create {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 7px 17px;
          margin-bottom: 10px;
          border: 1px solid transparent;
          border-radius: 7px;
          background: linear-gradient($mainBg, $mainBg) padding-box,
            linear-gradient(to right, #a7b3f0, #efefef) border-box;

          button {
            max-width: 74px;

            width: 100%;
          }
        }

        &__content {
          padding-top: 16px;
          padding-bottom: 20px;

          &-table {
            &__header {
              margin-bottom: 10px;

              h6.xsm {
                padding: 9px 13px;
                border: 1px solid #ececec;
                border-radius: 7px;
              }
            }
            &__item {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 16px 26px;
              margin-bottom: 15px;
              border-radius: 7px;
              border: 1px solid transparent;
              transition: transform ease 0.5s, box-shadow ease 0.5s;

              &:hover {
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
              }

              &:nth-child(odd) {
                background: linear-gradient($mainBg, $mainBg) padding-box,
                  linear-gradient(to right, #a7b3f0, #efefef) border-box;
              }

              &:nth-child(even) {
                background: linear-gradient($mainBg, $mainBg) padding-box,
                  linear-gradient(to right, #efefef, #a7b3f0) border-box;
              }
            }
          }

          &-codes {
            table {
              // table-layout: fixed;
              // width: calc(100% + 40px);
              border-collapse: separate;
              border-spacing: 40px 10px;
              margin: 0px -28px;

              thead tr {
                border: 1px solid #ececec;
                border-radius: 7px;

                th {
                  text-align: center;
                  font-weight: normal;
                  box-sizing: border-box;
                  padding: 0px;
                  width: 25%;
                }
              }

              tr {
                display: block;
              }

              tbody tr {
                border: transparent;
                border-radius: 7px;
                background-color: $box;
                margin-bottom: 10px;

                td {
                  background-color: transparent;
                }
              }

              th,
              td {
                width: 100px;
                background-clip: padding-box;
                text-align: center;
                padding: 5px 2px;
              }
            }
          }

          &-empty {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ececec;
            border-radius: 7px;
            padding: 14px 0px 14px 0px;
          }
        }
      }
    }
    &__btns {
      width: 154px;
      display: flex;
      position: relative;
      background: $mainBg;
      border-radius: 7px;
      overflow: hidden;
      .button {
        width: 50%;
        z-index: 1;
        color: $gray;
        background: transparent;

        &.active {
          border-radius: 7px;
          background: $main;
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .referralsTab__body-inner {
    &__header {
      gap: 10px;
      grid-template-columns: 1fr;
    }
    &__info {
      flex-direction: column;
      h6 {
        padding-bottom: 5px;
      }
      &-group {
        h6 {
          padding: 0px;
        }
      }
    }
    &__create {
      margin-bottom: 20px;
    }
    &__content {
      padding: 0px;

      &-codes {
        table {
          margin: 0px -5px;
          width: calc(100% + 10px);
          border-spacing: 5px 5px;

          thead tr {
            border: 1px solid #ececec;
            border-radius: 7px;
            margin-bottom: 10px;
            th {
              padding: 4px 2px;
            }
          }
          tr {
            display: block;
          }

          tbody {
            tr {
              border: transparent;
              border-radius: 7px;
              background-color: $box;
              margin-bottom: 10px;

              td {
                background-color: transparent;
              }
            }
          }

          th,
          td {
            width: 100px;
            background-clip: padding-box;
            text-align: center;
            border: none !important;
          }
        }
      }
    }
  }
}

.tier {
  .button {
    margin-bottom: 10px;
  }
  margin-bottom: 40px;
  &Item {
    background: $mainBg;
    border-radius: 9px;
    padding: 13px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 10px;
    margin-bottom: 10px;

    &:nth-child(1) {
      background: url(../../../../public/images/tier/tier-1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &:nth-child(2) {
      background: url(../../../../public/images/tier/tier-2.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }
    &:nth-child(3) {
      background: url(../../../../public/images/tier/tier-3.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin: 0;
    }
    &__col {
      width: calc(33.3% - 5px);
      &:nth-child(1) {
        text-align: center;
      }
      h6,
      p {
        color: $textColor3;
      }

      h6 {
        font-weight: 500;
      }
    }
  }
}
@mixin referrals-md-lg {
  .referrals {
    &Tab {
      &__header {
        flex-direction: column;
        align-items: flex-start;
        p.xsm {
          width: 100%;
          padding: 8px 10px;
        }
      }
      &__btns {
        margin-bottom: 8px;
      }
      &__body {
        padding: 28px 25px;
      }
    }
  }
  .tier {
    &Item {
      &__col {
        width: calc(40% - 5px);
        &:nth-child(1) {
          width: calc(20% - 5px);
          text-align: left;
        }
      }
    }
  }
}

.codeError {
  color: #ff5c5c;
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.codeSuccess {
  color: aquamarine;
  font-size: 10px;
  margin-top: -10px;
  margin-bottom: 5px;
}

.isloading {
  background: #979797;
}
