html,
body {
  scroll-behavior: smooth;
}
body {
  &.active {
    overflow: hidden;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
button {
  outline: none;
}
button:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(207, 207, 207);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba($color: #000, $alpha: 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba($color: #000, $alpha: 0.3);
}
/* Handle text selection */
::selection {
  color: $white;
  background: #889cff;
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: $rubik;
  font-size: 13px;
  color: $black-2;
  line-height: 16px;
  font-weight: 400;
  background: $light-gray;
}
a {
  text-decoration: none;
  opacity: 1;
  color: $primary;
  transition: 0.3s ease;
  cursor: pointer;
  &:hover {
    opacity: 0.88;
  }
}
ul {
  li {
    list-style: none;
  }
}

.auto__container {
  position: relative;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/**
* Width of the auto container can be adjusted here for larger devices (monitors, etc)
*/
@media screen and (min-width: 1600px) {
  // Wrapper for all content
  .auto__container {
    max-width: 1500px;
  }

  // Home page
  .info__inner-list table {
    border-spacing: 0px 28px;
  }
  .info__inner-col {
    max-width: 650px !important;
  }
  .info__inner-head-item {
    max-width: 1100px !important;
  }

  // Liquidations page
  .list__inner-buttons {
    margin-top: 50px;
    margin-bottom: 30px !important;
  }
  .list__inner-main-wrapper:after {
    display: none;
  }
  .list__inner-main {
    height: 700px !important;

    table {
      border-spacing: 0px 28px;
    }
  }

  // Borrow page
  .borrow__inner-col {
    max-width: 650px !important;
  }
  .borrow {
    margin-top: 25px;
  }
  .borrow__inner-row {
    margin-bottom: 50px !important;
  }
  .borrow__inner-list table {
    border-spacing: 0px 28px;
  }

  // Gauges page
  .list__inner.gauges {
    margin-top: 50px;
  }

  // Staking page
  .staking__inner-content .stakingItem,
  .staking__inner .stakingItem {
    max-width: 320px !important;
  }
  .staking__inner-table table {
    height: 100px;
  }
  .stakingItem h4 {
    opacity: 0.7;
  }

  // Lock popup
  .lock__inner {
    max-width: 600px !important;
  }
  .lock__inner-info {
    margin-bottom: 30px !important;
  }

  /** 
  * Fixing height between blocks
  */
  .info__inner-head {
    margin: 50px 0 100px 0 !important;
  }
  .info__inner-row {
    margin-bottom: 100px !important;
  }
  .lockItem.sm {
    margin-bottom: 20px;
  }

  /**
  * mLQDR Page
  */
  .about .auto__container {
    max-width: 1200px !important;
  }
  .about__inner-col {
    max-width: 600px !important;
  }
  .about__inner-col-top h4 {
    max-width: 150px;
    width: 100%;
  }
  .about__inner {
    &-row {
      margin-bottom: 50px !important;
    }
    margin-top: 50px;
  }

  /** 
  * Fixing font size for paragraphs and headings, anchor tags and buttons
  */
  a {
    font-size: 16px !important;
  }
  a.button {
    font-size: 14px !important;
  }
  a.button.uniq {
    font-size: 15px !important;
  }
  p {
    font-size: 16px !important;
  }
  p.sm {
    font-size: 14px !important;
  }
  span {
    font-size: 15px !important;
  }

  h4,
  h6 {
    font-size: 18px !important;
  }

  h5 {
    font-size: 16px !important;
    opacity: 0.7;
  }

  td,
  th {
    font-size: 16px !important;
  }
}
