.header {
  padding: 8px 34px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 35px 0;
  z-index: 10;
  &__inner {
    background: $mainBg;
    display: flex;
    align-items: center;
    box-shadow: -1px 8px 19px rgba(0, 0, 0, 0.13);
    @include lightIn {
      box-shadow: -1px 8px 19px rgba(0, 0, 0, 0.05);
    }
    border-radius: 29.5px;
    justify-content: space-between;
    padding: 8px 32px;
    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      min-width: 44px;
      height: 29px;
      color: $logo;
      margin-right: 25px;
      svg {
        cursor: pointer;

        width: 100%;
        height: 100%;
      }
    }
    &-row {
      display: flex;
      align-items: center;
      margin-left: 6px;
      .sett {
        margin-left: 6px;
      }
    }
  }
}

@mixin header-xlg-xxlg {
  .header {
    padding: 0;
    &__inner {
      padding: 14px 0;
      background: transparent;
      box-shadow: unset !important;
      &-logo {
        margin-right: 16px;
      }
    }
  }
}
@mixin header-md-lg {
  .header {
    &__inner {
      &-logo {
        margin: 0;
      }
    }
  }
}
