.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 10000;
  &__inner {
    margin: 50px auto;
    max-width: 338px;
    width: 100%;
    background: $mainBg;
    border-radius: 14px;
    padding: 20px;
    box-sizing: border-box;
    &-title {
      padding: 12px 16px;
      border-radius: 7px;
      background: $box;
      margin-bottom: 14px;
      h6.xsm {
        font-weight: 700;
      }
    }
    &-body {
      .input {
        input {
          padding: 8px 60px 8px 0;
          background: transparent;
        }
        &__btns {
          right: 0;
        }
        &__coin {
          &:last-child {
            padding: 0;
          }
        }
        &__max {
          margin-right: 10px;
        }
        &__outer {
          padding: 10px 14px;
        }
        &.reverse {
          input {
            padding: 7px 15px 7px 60px;
            background: $button;
          }
        }
      }
    }
  }
  .swap {
    &__footer {
      display: flex;
      justify-content: space-between;
      .button {
        width: calc(50% - 2.5px);
      }
    }
  }
  &__checks {
    margin-bottom: 18px;
  }
  &__items {
    margin-bottom: 24px;
    .button.bordered {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  // components start
  &Check {
    position: relative;
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
      opacity: 0;
      &:checked + label:after {
        opacity: 1;
      }
    }
    label {
      padding: 12px 12px 12px 42px;
      width: 100%;
      box-sizing: border-box;
      display: block;
      border-radius: 7px;
      border: 1px solid $border;
      color: $textColor;
      position: relative;
      font-size: 10px;
      line-height: 12px;
      font-weight: 400;
      &::before {
        position: absolute;
        top: 50%;
        @include transformY;
        left: 16px;
        width: 15px;
        height: 15px;
        border: 1px solid $border;
        box-sizing: border-box;
        content: '';
      }
      &:after {
        position: absolute;
        top: 50%;
        @include transformY;
        left: 19px;
        width: 9px;
        height: 9px;
        border-radius: 2px;
        background: $white;
        @include transition;
        content: '';
        opacity: 0;
        @include lightIn {
          background: $main;
        }
      }
    }
    &.single {
      margin: 0;
      label {
        padding: 0;
        width: 15px;
        height: 15px;
        &::before {
          top: 50%;
          left: 50%;
          @include transform;
        }
        &::after {
          top: 50%;
          left: 50%;
          @include transform;
        }
      }
    }
  }
  &Item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 14px;
    border-radius: 7px;
    &:nth-of-type(even) {
      background: #405067;
      @include lightIn {
        background: #f9f9f9;
      }
    }
    &.uniq {
      background: transparent !important;
      padding: 0;
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &__coin {
      display: flex;
      align-items: center;
      border: 1px solid $border;
      padding: 5px 10px;
      font-size: 10px;
      line-height: 12px;
      border-radius: 7px;
      img {
        width: 13px;
        margin-right: 4px;
      }
    }
    h6,
    p {
      color: $textColor;
    }
    &--list {
      h6 {
        width: 40px;
        margin-right: 10px;
      }
      p {
        width: calc(100% - 50px);
      }
      margin-bottom: 8px;
    }
  }
  &Amount {
    padding: 10px 12px;
    border-radius: 7px;
    border: 1px solid $border;
    margin-bottom: 12px;
    h6 {
      color: $textColor;
      margin-bottom: 20px;
      &.xsm {
        margin-bottom: 8px;
        color: $gray;
      }
    }
  }
  &Table {
    margin-bottom: 12px;
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 15px;
      border-radius: 7px;
      margin-bottom: 7px;
      background: $button;
    }
    &__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 7px 15px;
      border-radius: 7px;
      border: 1px solid $border;
      margin-bottom: 7px;
      &:last-child {
        margin-bottom: 7px;
      }
      p.xsm {
        span {
          opacity: 0.5;
        }
      }
    }
    &__arrow {
      background: $swap;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      color: $white;
      justify-content: center;
      cursor: pointer;
      margin: -12px auto -3px auto;
      position: relative;
      z-index: 1;
      svg {
        width: 8px;
        height: 7px;
      }
    }
  }
  &Tab {
    &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 18px;
      .button {
        width: calc(50% - 5px);
        background: #405067;
        color: $buttonColor;
        @include lightIn {
          background: #f9f9f9;
        }
        &.active {
          background: $main !important;
          color: $white;
        }
      }
    }
  }
  &Note {
    &__title {
      padding: 10px 15px;
      box-sizing: border-box;
      background: #405067;
      border-radius: 7px;
      text-align: center;
      font-size: 10px;
      line-height: 12px;
      margin-bottom: 12px;
      @include lightIn {
        background: #f9f9f9;
      }
    }
    p.xsm {
      margin-bottom: 12px;
      padding: 0 20px;
      color: $textColor;
    }
    ul {
      padding: 0 20px;
      li {
        padding-left: 26px;
        font-size: 10px;
        line-height: 12px;
        margin-bottom: 10px;
        position: relative;
        &::before {
          position: absolute;
          content: '';
          top: 1px;
          left: 0;
          width: 9px;
          height: 9px;
          border-radius: 2px;
          background: #0029FF;
          @include lightIn {
            background: $main;
          }
        }
      }
    }
    .modalCheck {
      margin-bottom: 12px;
      input {
        &:checked + label {
          opacity: 1;
        }
      }
      label {
        padding: 0 20px 0 40px;
        border: 0;
        opacity: 0.5;
        &::before {
          top: 2px;
          @include transformReset;
        }
        &::after {
          @include transformReset;
          top: 5px;
        }
      }
    }
  }

  .space {
    display: block;
    height: 24px;
  }
  &__btn {
    .button {
      width: 100%;
    }
  }
  &__btns {
    display: flex;
    justify-content: space-between;
    .button {
      width: calc(50% - 2.5px);
    }
  }
  .quote {
    font-weight: 400;
    font-size: 9px;
    line-height: 17px;
    color: rgba($color: $textColor, $alpha: 0.2);
  }
  .rewards {
    color: #5ae717;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    margin-top: -15px;
  }
}
