.nav {
  width: 100%;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-links {
      display: flex;
      align-items: center;
    }
    &-link {
      padding: 5px 27px;
      background: transparent;
      font-weight: 400;
      font-size: 14px;
      display: block;
      box-sizing: border-box;
      line-height: 17px;
      color: $gray;
      cursor: pointer;
      @include transition;
      &:hover {
        color: $textColor;
      }
      &.active {
        color: $textColor;
      }
    }
    &-drop {
      position: relative;
      z-index: 1;
      &-content {
        top: 0;
        left: 0;
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        width: 170px;
        box-sizing: border-box;
        background: $mainBg;

        border-radius: 0 0 16px 16px;
        flex-direction: column;
        .nav__inner-link {
          margin-bottom: 6px;
        }
      }

      &.active {
        box-shadow: -1px 8px 19px rgba(0, 0, 0, 0.13);
        @include lightIn {
          box-shadow: -1px 8px 19px rgba(101, 101, 101, 0.05);
        }
        .nav__inner-drop-content {
          display: block;
        }
      }
    }
  }
}
.dots {
  display: none;
}
@mixin nav-xlg-xxlg {
  .nav {
    &__inner {
      &-link {
        padding: 5px 20px;
      }
      &-drop {
        &-content {
          width: 154px;
          border-radius: 16px;
        }
      }
    }
  }
}
@mixin nav-lg-xlg {
  .nav {
    &__inner {
      &-link {
        padding: 5px 16px;
      }
    }
  }
}
@mixin nav-md-lg {
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba($color: #000000, $alpha: 0.4);
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    @include transition;
    &.active {
      @include transformReset;
    }
    &__inner {
      flex-direction: column;
      -ms-flex-direction: column;
      position: absolute;
      justify-content: unset;
      align-items: unset;
      top: 0;
      right: 0;
      width: 195px;
      padding: 0;
      border-radius: 50px 0 0 50px;
      z-index: 1;
      padding: 50px;
      height: calc(100% - 100px);
      overflow-y: auto;
      background: $mainBg;
      &-link {
        padding: 20px;
        width: 100%;
        text-align: left;
      }
      &-links {
        flex-direction: column;
        order: 2;
      }
      &-drop {
        width: 100%;
        box-shadow: -1px 8px 19px rgba(0, 0, 0, 0.13);
        border-radius: 16px;
        @include lightIn {
          box-shadow: -1px 8px 19px rgba(101, 101, 101, 0.05);
        }
        .btnMore {
          display: none;
        }
        &-content {
          display: block !important;
          width: 100%;
          position: static;
          .nav__inner-link {
            margin: 0;
          }
        }
      }
      .switch {
        order: 1;
        margin-bottom: 50px;
      }
    }
  }
  body.active {
    overflow: hidden;
  }
  .dots {
    width: 25px;
    height: 25px;
    display: flex;
    color: $gray;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    svg {
      width: 20px;
      height: 5px;
    }
  }
}
// nav start

// nav end
