// 1180px
@include xlg-xxlg {
  // base start
  @include header-xlg-xxlg;
  @include nav-xlg-xxlg;
  main {
    min-height: calc(100vh - 172px);
    padding-top: 90px;
  }
  // base end
  // idnex page start
  @include intro-xlg-xxlg;
  @include feature-xlg-xxlg;
  @include detail-xlg-xxlg;
  // idnex page end
}
// 1024px
@include lg-xlg {
  // base start
  @include nav-lg-xlg;
  // base end
  // index page start
  @include intro-lg-xlg;
  @include feature-lg-xlg;
  @include detail-lg-xlg;
  // index page end
}
// 980px
@include extra {
  // trade page  start
  @include trade-extra;
  // trade page  end
  // table page  start
  @include table-extra;
  // table page  end
}
// 900px
@include md-lg {
  // base start
  @include nav-md-lg;
  @include header-md-lg;
  .button {
    &.rad {
      padding: 8px 16px;
    }
  }
  // base endd
  // index page start
  @include intro-md-lg;
  @include feature-md-lg;
  @include detail-md-lg;
  // index page endd

  // layout start
  @include table-md-lg;
  // layout end
  // overview page  start
  @include overview-md-lg;
  // overview page  end
  // liquidity page  start
  @include liquidity-md-lg;
  // liquidity page  end
  // referrals page  start
  @include referrals-md-lg;
  // referrals page  end
  // earn page  start
  @include earn-md-lg;
  // earn page  end
  // lqdr page  start
  @include lqdr-md-lg;
  // lqdr page  end
}
// 700px
@include sm-md {
  // lqdr page  start
  @include lqdr-sm-md;
  // lqdr page  end
  // trade page  start
  @include trade-sm-md;
  // trade page  end
}
// 540px
@include xsm-sm {
  .modal {
    &__inner {
      margin: 25px auto;
    }
  }
  // indxe page  start
  @include intro-xsm-sm;
  @include feature-xsm-sm;
  @include detail-xsm-sm;
  // indxe page  end
  // trade page start
  @include trade-xsm-sm;
  // trade page end

  // layout  start
  @include input-xsm-sm;
  @include sett-xsm-sm;
  // layout  end
  // overview page  start
  @include overview-xsm-sm;
  // overview page  end
  // lqdr page  start
  @include lqdr-xsm-sm;
  // lqdr page  end
}
// 375px
@include xxsm-xsm {
  // base start
  .auto__container {
    padding: 0 14px;
  }
  // base end
}
